
@{
    ViewBag.Title = "Censo";
}

<h2>Formulario de ingreso</h2>

<form role="form">

    <div class="form-group">
        <label>Responsable</label>
        <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        </select>      
    </div> 

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="Nombre"
               placeholder="Nombre Completo">
    </div>


    <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" id="Direccion"
               placeholder="Dirección">
    </div>

    <div class="form-group">
        <label>Teléfono</label>
        <input type="tel" class="form-control" id="Telefono"
               placeholder="Teléfono residencial" pattern="[0-8]{8}">    
   </div>

    <div class="form-group">
        <label>Celular</label>
        <input type="tel" class="form-control" id="Celular"
               placeholder="Teléfono móvil" pattern="[0-8]{8}">
    </div>

    <div class="form-group">
        <label>Sector</label>
        <input type="text" class="form-control" id="Sector"
               placeholder="Sector">
    </div>

    <div class="form-group">
        <label>Estado Civil</label>
        <select class="form-control">
            <option>Soltero/a</option>
            <option>Casado/a</option>
            <option>Divorciado/a</option>
            <option>Viudo/a</option>
        </select>
    </div> 

    <div class="form-group">
        <label>Tipo de Miembro</label>
        <select class="form-control">
            <option>Activo</option>
            <option>Asociado</option>
            <option>Sin Membresia</option>
        </select>
    </div> 

    <div class="form-group">
        <label>Ministerio</label>
        <input type="text" class="form-control" id="Sector"
               placeholder="Sector">
    </div>








    <button type="submit" class="btn btn-default">Enviar</button>
</form>






