@{
    ViewBag.Title = "Censo";
}

<form role="form" class="dataform" style="background: white; padding: 30px;" id="Form1" action="/System/UploadImg" method="post" enctype="multipart/form-data">
    <div layout="row" layout-xs="column">
        <div flex style="padding: 15px;">

            <md-input-container class="md-block" flex-gt-xs>
                <label>
                    Id Persona
                </label>
                <input class="form-control" type="text" name="IdPersona" onkeyup="VerificarEntero(this);" required>
            </md-input-container>
            <input type="file" id="File1" name="File1" />
            <br /><br /><br />
            <input type="submit" id="Submit1" value="Subir foto" />
        </div>
    </div>
</form>