@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form role="form" class="dataform">
    <h3>Ingreso de datos estadísticos - Devocional</h3>
    <hr />
    <div class="form-group">

        <label>
            Fecha
        </label>
        <input class="form-control" type="date" id="fecha" name="Fecha" required>


    </div>
    <div class="form-group">

        <label>
            Sala cuna
        </label>
        <input class="form-control" type="text" name="SalaCuna">


    </div>
    <div class="form-group">

        <label>
            Parvulos
        </label>
        <input class="form-control" type="text" name="Parvulos">


    </div>
    <div class="form-group">

        <label>
            Principiantes
        </label>
        <input class="form-control" type="text" name="Principiantes">


    </div>
    <div class="form-group">

        <label>
            Primarios
        </label>
        <input class="form-control" type="text" name="Primarios">


    </div>
    <div class="form-group">

        <label>
            Jardin infantil
        </label>
        <input class="form-control" type="text" name="JardinInfantil">


    </div>
    <div class="form-group">

        <label>
            Adultos (ya sea hombres, mujeres, jovenes y/o adolescentes) DENTRO DEL TEMPLO
        </label>
        <input class="form-control" type="text" name="AdultosEnTemplo">


    </div>
    <div class="form-group">

        <label>
            Ujieres desarrollando su ministerio
        </label>
        <input class="form-control" type="text" name="Ujieres">


    </div>
    <div class="form-group">

        <label>
            Adultos (ya sea hombres, mujeres, jovenes y/o adolescentes) FUERA DEL TEMPLO, Autorizadas y No Autorizadas
        </label>
        <input class="form-control" type="text" name="AdultosFueraDelTemplo">


    </div>
    <div class="form-group">

        <label>
            Comentarios y observaciones
        </label>
        <textarea class="form-control" name="Comentarios"></textarea>


    </div>
    <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>