body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f3f3f3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.loginform {
    border: solid 1px #d3d3d3;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    background: white;
}

footer{
    text-align: center;
}

.dataform{
    border: solid 1px #d3d3d3;
    padding: 50px;
    width: 700px;
    margin: 0 auto;
}